/* reset styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.about {
  justify-content: right;
}
/* Header Styling */
header {
  padding: 15px 0;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.hero .btn {
  padding: 10px 20px;
  font-size: 1rem;
}

/* Product Section */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 50px 15px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
